/* Margin */
.m-xs {
 margin: var(--spacing-xs);
}

.m-sm {
 margin: var(--spacing-sm);
}

.m-md {
 margin: var(--spacing-md);
}

.m-mmd {
 margin: var(--spacing-mmd);
}

.m-lg {
 margin: var(--spacing-lg);
}

.m-xl {
 margin: var(--spacing-xl);
}

/* margin X-axis (Left & Right) */
.mx-xs {
 margin-left: var(--spacing-xs);
 margin-right: var(--spacing-xs);
}

.mx-sm {
 margin-left: var(--spacing-sm);
 margin-right: var(--spacing-sm);
}

.mx-md {
 margin-left: var(--spacing-md);
 margin-right: var(--spacing-md);
}

.mx-mmd {
 margin-left: var(--spacing-mmd);
 margin-right: var(--spacing-mmd);
}

.mx-lg {
 margin-left: var(--spacing-lg);
 margin-right: var(--spacing-lg);
}

.mx-xl {
 margin-left: var(--spacing-xl);
 margin-right: var(--spacing-xl);
}

/* margin Y-axis (Top & Bottom) */
.my-xs {
 margin-top: var(--spacing-xs);
 margin-bottom: var(--spacing-xs);
}

.my-sm {
 margin-top: var(--spacing-sm);
 margin-bottom: var(--spacing-sm);
}

.my-md {
 margin-top: var(--spacing-md);
 margin-bottom: var(--spacing-md);
}

.my-mmd {
 margin-top: var(--spacing-mmd);
 margin-bottom: var(--spacing-mmd);
}

.my-lg {
 margin-top: var(--spacing-lg);
 margin-bottom: var(--spacing-lg);
}

.my-xl {
 margin-top: var(--spacing-xl);
 margin-bottom: var(--spacing-xl);
}

/* Margin Top */
.mt-xs {
 margin-top: var(--spacing-xs);
}

.mt-sm {
 margin-top: var(--spacing-sm);
}

.mt-md {
 margin-top: var(--spacing-md);
}

.mt-mmd {
 margin-top: var(--spacing-mmd);
}

.mt-lg {
 margin-top: var(--spacing-lg);
}

.mt-xl {
 margin-top: var(--spacing-xl);
}

.mt-xxl {
 margin-top: var(--spacing-xxl);
}

/* Margin Bottom */
.mb-xs {
 margin-bottom: var(--spacing-xs);
}

.mb-sm {
 margin-bottom: var(--spacing-sm);
}

.mb-md {
 margin-bottom: var(--spacing-md);
}

.mb-mmd {
 margin-bottom: var(--spacing-mmd);
}

.mb-lg {
 margin-bottom: var(--spacing-lg);
}

.mb-xl {
 margin-bottom: var(--spacing-xl);
}

.mb-xxl {
 margin-bottom: var(--spacing-xxl);
}

/* Margin Left */
.ml-xs {
 margin-left: var(--spacing-xs);
}

.ml-sm {
 margin-left: var(--spacing-sm);
}

.ml-md {
 margin-left: var(--spacing-md);
}

.ml-mmd {
 margin-left: var(--spacing-mmd);
}

.ml-lg {
 margin-left: var(--spacing-lg);
}

.ml-xl {
 margin-left: var(--spacing-xl);
}

/* Margin Right */
.mr-xs {
 margin-right: var(--spacing-xs);
}

.mr-sm {
 margin-right: var(--spacing-sm);
}

.mr-md {
 margin-right: var(--spacing-md);
}

.mr-mmd {
 margin-right: var(--spacing-mmd);
}

.mr-lg {
 margin-right: var(--spacing-lg);
}

.mr-xl {
 margin-right: var(--spacing-xl);
}

/* -------------------------- Padding -------------------------- */
.p-xs {
 padding: var(--spacing-xs);
}

.p-sm {
 padding: var(--spacing-sm);
}

.p-md {
 padding: var(--spacing-md);
}

.p-mmd {
 padding: var(--spacing-mmd);
}

.p-lg {
 padding: var(--spacing-lg);
}

.p-xl {
 padding: var(--spacing-xl);
}

/* Padding Top */
.pt-xs {
 padding-top: var(--spacing-xs);
}

.pt-sm {
 padding-top: var(--spacing-sm);
}

.pt-md {
 padding-top: var(--spacing-md);
}

.pt-mmd {
 padding-top: var(--spacing-mmd);
}

.pt-lg {
 padding-top: var(--spacing-lg);
}

.pt-xl {
 padding-top: var(--spacing-xl);
}

/* Padding Bottom */
.pb-xs {
 padding-bottom: var(--spacing-xs);
}

.pb-sm {
 padding-bottom: var(--spacing-sm);
}

.pb-md {
 padding-bottom: var(--spacing-md);
}

.pb-mmd {
 padding-bottom: var(--spacing-mmd);
}

.pb-lg {
 padding-bottom: var(--spacing-lg);
}

.pb-xl {
 padding-bottom: var(--spacing-xl);
}

/* Padding Left */
.pl-xs {
 padding-left: var(--spacing-xs);
}

.pl-sm {
 padding-left: var(--spacing-sm);
}

.pl-md {
 padding-left: var(--spacing-md);
}

.pl-mmd {
 padding-left: var(--spacing-mmd);
}

.pl-lg {
 padding-left: var(--spacing-lg);
}

.pl-xl {
 padding-left: var(--spacing-xl);
}

/* Padding Right */
.pr-xs {
 padding-right: var(--spacing-xs);
}

.pr-sm {
 padding-right: var(--spacing-sm);
}

.pr-md {
 padding-right: var(--spacing-md);
}

.pr-mmd {
 padding-right: var(--spacing-mmd);
}

.pr-lg {
 padding-right: var(--spacing-lg);
}

.pr-xl {
 padding-right: var(--spacing-xl);
}

/* Padding X-axis (Left & Right) */
.px-xs {
 padding-left: var(--spacing-xs);
 padding-right: var(--spacing-xs);
}

.px-sm {
 padding-left: var(--spacing-sm);
 padding-right: var(--spacing-sm);
}

.px-md {
 padding-left: var(--spacing-md);
 padding-right: var(--spacing-md);
}

.px-mmd {
 padding-left: var(--spacing-mmd);
 padding-right: var(--spacing-mmd);
}

.px-lg {
 padding-left: var(--spacing-lg);
 padding-right: var(--spacing-lg);
}

.px-xl {
 padding-left: var(--spacing-xl);
 padding-right: var(--spacing-xl);
}

.px-40 {
 padding-left: 80px;
 padding-right:80px;
}

/* Padding Y-axis (Top & Bottom) */
.py-xs {
 padding-top: var(--spacing-xs);
 padding-bottom: var(--spacing-xs);
}

.py-sm {
 padding-top: var(--spacing-sm);
 padding-bottom: var(--spacing-sm);
}

.py-md {
 padding-top: var(--spacing-md);
 padding-bottom: var(--spacing-md);
}

.py-mmd {
 padding-top: var(--spacing-mmd);
 padding-bottom: var(--spacing-mmd);
}

.py-lg {
 padding-top: var(--spacing-lg);
 padding-bottom: var(--spacing-lg);
}

.py-xl {
 padding-top: var(--spacing-xl);
 padding-bottom: var(--spacing-xl);
}

.py-40 {
 padding-top: 56px;
 padding-bottom: 56px;
}


@media (max-width: 768px) {
 .px-40 {
  padding-left: 8px;
  padding-right: 8px;
 }

  .py-40 {
   padding-top: 32px;
   padding-bottom: 32px;
  }
}